@charset "UTF-8";
/*Márgenes*/
* {
  margin: 0;
  padding: 0; }

/*Cuerpo*/
body {
  background-color: #ffffff;
  font-family: 'Cormorant Garamond', serif;
  color: black;
  background-color: #F1F1F1; }

/*Texto*/
.Titulo {
  color: #3b462d;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 68px; }

.Subtitulo {
  color: #86A8AB;
  text-align: center;
  font-style: italic;
  letter-spacing: 5px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px; }

.miniSubtitulo {
  color: #86A8AB;
  text-align: center;
  font-style: italic;
  letter-spacing: 5px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px; }

p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  text-decoration: none; }

/**Grid Index**/
.ContainerIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.2fr 2.1fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  background-color: #F1F1F1;
  grid-auto-flow: row;
  grid-template-areas: "Menu Menu Menu Menu" "Carousel Carousel Carousel Carousel" "Presentacion Presentacion Descripcion Descripcion" "Footer Footer Footer Footer"; }

.Menu {
  grid-area: Menu;
  font-family: 'Cormorant Garamond', serif;
  color: white;
  font-size: 20px; }

.Carousel {
  grid-area: Carousel;
  margin-top: 1px; }

.Presentacion {
  grid-area: Presentacion;
  margin-left: 15%;
  margin-top: 25%; }

.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px; }

.containerPresentación {
  text-align: center;
  padding: 10px 20px; }

.Descripcion {
  grid-area: Descripcion;
  margin-top: 25%;
  margin-right: 25%; }

.Footer {
  grid-area: Footer; }

/**Grid Nosotras**/
.ContainerNosotras {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.8fr 1fr 0.7fr 1fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  background-color: #F1F1F1;
  grid-auto-flow: row;
  grid-template-areas: "Menu Menu Menu Menu" "Banner Banner Banner Banner" "Foto1 Foto2 Foto3 Foto4" "Texto1 Texto2 Texto3 Texto4" "Banner2 Banner2 Banner2 Banner2" "footer footer footer footer"; }

.BannerNosotras {
  grid-area: Banner;
  background-image: url(img/nosotras1.jpg);
  height: 320px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  margin-top: 1px;
  opacity: 0.8; }

.Banner2 {
  grid-area: Banner2;
  background-image: url(img/Bannernosotras2.jpg);
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 1px; }

.heroText {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000; }

.Foto1 {
  grid-area: Foto1;
  margin-left: 12%;
  margin-top: 15%; }

.Foto2 {
  grid-area: Foto2;
  margin-left: 12%;
  margin-top: 15%; }

.Foto3 {
  grid-area: Foto3;
  margin-left: 12%;
  margin-top: 15%; }

.Foto4 {
  grid-area: Foto4;
  margin-left: 12%;
  margin-top: 15%; }

.Texto1 {
  grid-area: Texto1;
  margin-left: 11%; }

.Texto2 {
  grid-area: Texto2;
  margin-left: 11%; }

.Texto3 {
  grid-area: Texto3;
  margin-left: 11%; }

.Texto4 {
  grid-area: Texto4;
  margin-left: 11%;
  margin-right: 11%; }

.imgCuadrada {
  max-width: 100%;
  height: auto; }

.footer {
  grid-area: footer; }

/**Grid Contacto**/
.ContainerContacto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.4fr 1.3fr 1.6fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  background-color: #F1F1F1;
  grid-auto-flow: row;
  grid-template-areas: "Menu Menu Menu Menu" "Banner Banner Banner Banner" "Form Form Map Map" "Form Form Map Map" "footer footer footer footer"; }

.BannerContacto {
  grid-area: Banner;
  background-image: url(img/Bannercontacto.jpg);
  height: 320px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin-top: 17px;
  opacity: 0.8; }

.footer {
  grid-area: footer; }

.Form {
  grid-area: Form;
  margin-left: 10%;
  margin-top: 10%; }

.Map {
  grid-area: Map;
  margin-left: 10%;
  margin-top: 10%; }

/**Form**/
input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid #ccc;
  outline-color: #C6D0BC;
  outline-style: hidden; }

input[type=text]:focus {
  border: 1px solid #343830; }

textarea {
  height: 100px;
  resize: none; }

input[type=submit] {
  width: 100px;
  background-color: #233017;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #505f41; }

.formFont {
  font-family: 'Cormorant Garamond', serif;
  color: black;
  font-size: 18px; }

/**Bootstrap**/
/**Footer**/
.navFooter {
  background-color: #71825B;
  font-weight: bold;
  height: 50px; }

/**Carousel**/
/**Menu**/
.fuenteNav {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  text-decoration: none;
  color: white; }

.fuenteLogo {
  font-family: 'Lobster', cursive;
  color: white;
  text-decoration: none;
  font-size: 50px; }

.fuenteLogo:hover {
  text-decoration: none;
  color: #3b462d; }

a:hover:not(.active) {
  text-decoration: none;
  color: #3b462d; }
