@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;0,700;1,500;1,700&family=Lobster&display=swap");
/*Márgenes*/
* {
  margin: 0;
  padding: 0; }

.type-light {
  font-size: 1.5rem;
  font-weight: 25px; }

.type-regular {
  font-size: 2.375rem;
  font-weight: 40px; }

.type-bold {
  font-size: 3.75rem;
  font-weight: 68px; }

/*Cuerpo*/
body {
  background-color: #ffffff;
  font-family: 'Cormorant Garamond', serif;
  color: black;
  background-color: #F1F1F1; }

/*Texto*/
.Titulo {
  color: #3b462d;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 68px; }

.Subtitulo {
  color: #86A8AB;
  text-align: center;
  font-style: italic;
  letter-spacing: 5px;
  font-family: "Cormorant Garamond", serif;
  font-size: 40px; }

.miniSubtitulo {
  color: #86A8AB;
  text-align: center;
  font-style: italic;
  letter-spacing: 5px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px; }

p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  text-decoration: none; }

/**Grid Index**/
.ContainerIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1.8fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  background-color: #F1F1F1;
  grid-auto-flow: row;
  grid-template-areas: "Menu Menu Menu Menu" "Carousel Carousel Carousel Carousel" "Presentacion Presentacion Descripcion Descripcion" "Footer Footer Footer Footer"; }

.Menu {
  grid-area: Menu;
  font-family: 'Cormorant Garamond', serif;
  color: white;
  font-size: 20px; }

.Carousel {
  grid-area: Carousel; }

.Presentacion {
  grid-area: Presentacion;
  margin-left: 15%;
  margin-top: 25%; }

.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px; }

.containerPresentación {
  text-align: center;
  padding: 10px 20px; }

.Descripcion {
  grid-area: Descripcion;
  margin-top: 25%;
  margin-right: 25%; }

.Footer {
  grid-area: Footer; }

/**Grid Nosotras**/
.ContainerNosotras {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.8fr 1fr 0.5fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Menu Menu Menu Menu" "Banner Banner Banner Banner" "Foto1 Foto2 Foto3 Foto4" "Texto1 Texto2 Texto3 Texto4" "footer footer footer footer";
  background-color: #F1F1F1; }

.BannerNosotras {
  grid-area: Banner; }

.FotoBanner {
  background-image: url(../img/banner3.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; }

.heroText {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000; }

.Foto1 {
  grid-area: Foto1;
  margin-left: 12%;
  margin-top: 15%; }

.Foto2 {
  grid-area: Foto2;
  margin-left: 12%;
  margin-top: 15%; }

.Foto3 {
  grid-area: Foto3;
  margin-left: 12%;
  margin-top: 15%; }

.Foto4 {
  grid-area: Foto4;
  margin-left: 12%;
  margin-top: 15%; }

.Texto1 {
  grid-area: Texto1;
  margin-left: 11%; }

.Texto2 {
  grid-area: Texto2;
  margin-left: 11%; }

.Texto3 {
  grid-area: Texto3;
  margin-left: 11%; }

.Texto4 {
  grid-area: Texto4;
  margin-left: 11%;
  margin-right: 11%; }

.imgCuadrada {
  max-width: 100%;
  height: auto; }

.footer {
  grid-area: footer; }

/**Grid Contacto**/
.ContainerContacto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.8fr 1.3fr 1fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  background-color: #F1F1F1;
  grid-auto-flow: row;
  grid-template-areas: "Menu Menu Menu Menu" "Banner Banner Banner Banner" "Form Form Map Map" "Form Form Map Map" "footer footer footer footer"; }

.BannerContacto {
  grid-area: Banner;
  background-image: url(../img/contacto.jpg);
  height: 320px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  opacity: 0.8; }

.footer {
  grid-area: footer; }

.Form {
  grid-area: Form;
  margin-left: 10%;
  margin-top: 10%; }

.Map {
  grid-area: Map;
  margin-left: 10%;
  margin-top: 10%; }

/**Grid Productos**/
.GridProductos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.8fr 1fr 1.4fr 1.1fr 0.1fr;
  grid-template-areas: "Menu Menu Menu" "bannerProductos bannerProductos bannerProductos" "textoProductos textoProductos textoProductos" "SinGluten1 Vegano1 Tradicional1" "SinGluten3 Vegano2 Tradicional2" "footer footer footer";
  background-color: #F1F1F1; }

.bannerProductos {
  grid-area: bannerProductos;
  background-image: url(../img/productos.jpg);
  height: 320px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  opacity: 0.8; }

.textoProductos {
  grid-area: textoProductos;
  margin-left: 10%;
  margin-right: 05%;
  margin-top: 05%;
  margin-bottom: 05%; }

.SinGluten1 {
  grid-area: SinGluten1;
  margin-left: 05%;
  margin-right: 05%;
  margin-top: 05%; }

.Vegano1 {
  grid-area: Vegano1;
  margin-left: 05%;
  margin-right: 05%;
  margin-top: 05%; }

.Tradicional1 {
  grid-area: Tradicional1;
  margin-left: 05%;
  margin-right: 05%;
  margin-top: 05%; }

.Tradicional2 {
  grid-area: Tradicional2;
  margin-left: 05%;
  margin-right: 05%;
  margin-bottom: 05%; }

.Vegano2 {
  grid-area: Vegano2;
  margin-left: 05%;
  margin-right: 05%;
  margin-bottom: 05%; }

.SinGluten3 {
  grid-area: SinGluten3;
  margin-left: 05%;
  margin-right: 05%;
  margin-bottom: 05%; }

.footer {
  grid-area: footer; }

/**Grid Servicios**/
.containerServicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.8fr 1fr 1fr 0.1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Menu Menu" "Bannerservicios Bannerservicios" "Descripcion1 Servicio1" "Servicio2 Descripcion2" "footer footer";
  background-color: #F1F1F1;
  height: 100%; }

.Bannerservicios {
  grid-area: Bannerservicios;
  background-image: url(../img/banner1.jpg);
  height: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8; }

.Menu {
  grid-area: Menu; }

.footer {
  grid-area: footer; }

.Servicio1 {
  grid-area: Servicio1;
  margin-left: 05%;
  margin-right: 05%;
  margin-top: 10%;
  margin-bottom: 04%; }

.Servicio2 {
  grid-area: Servicio2;
  margin-left: 20%;
  margin-right: 05%;
  margin-bottom: 05%;
  margin-top: 03%; }

.Descripcion1 {
  grid-area: Descripcion1;
  margin-left: 20%;
  margin-right: 05%;
  margin-top: 10%;
  margin-bottom: 04%; }

.Descripcion2 {
  grid-area: Descripcion2;
  margin-left: 01%;
  margin-right: 20%;
  margin-bottom: 05%;
  margin-top: 03%; }

/*Animacion*/
.container {
  position: relative;
  width: 50%; }

.image {
  max-width: 100%;
  height: auto;
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.container:hover .image {
  opacity: 0.3; }

.container:hover .middle {
  opacity: 1; }

.text {
  background-color: #71825B;
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  text-align: center;
  font-style: italic;
  font-family: 'Cormorant Garamond', serif; }

/**Form**/
input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid #ccc;
  outline-color: #C6D0BC;
  outline-style: hidden; }

input[type=text]:focus {
  border: 1px solid #343830; }

textarea {
  height: 100px;
  resize: none; }

input[type=submit] {
  width: 100px;
  background-color: #233017;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #505f41; }

.formFont {
  font-family: 'Cormorant Garamond', serif;
  color: black;
  font-size: 18px; }

/**Footer**/
.navFooter {
  background-color: #71825B;
  font-weight: bold;
  height: 50px; }

/**Menu**/
.fuenteNav {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  text-decoration: none;
  color: white; }

.fuenteLogo {
  font-family: 'Lobster', cursive;
  color: white;
  text-decoration: none;
  font-size: 50px; }

.fuenteLogo:hover {
  text-decoration: none;
  color: #3b462d; }

a:hover:not(.active) {
  text-decoration: none;
  color: #3b462d; }

/*media quereys*/
@media only screen and (max-width: 500px) {
  .ContainerIndex {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1.8fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    background-color: #F1F1F1;
    grid-auto-flow: row;
    grid-template-areas: "Menu" "Carousel" "Presentacion" "Descripcion" "Footer"; }
  .Presentacion {
    margin-left: 15%;
    margin-top: -20%; }
  .Descripcion {
    margin-top: 02%;
    margin-right: 05%;
    margin-left: 05%; }
  /*Nosotras*/
  .ContainerNosotras {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.8fr 1fr 0.5fr 1.3fr 0.1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: "Menu Menu" "Banner Banner" "Foto1 Foto2" "Texto1 Texto2" "Foto3 Foto4" "Texto3 Texto4" "footer footer"; }
  .Texto3 {
    margin-top: -70%; }
  .Texto4 {
    margin-top: -70%; }
  /*Contacto*/
  .ContainerContacto {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.8fr 1.3fr 1fr 0.1fr;
    grid-auto-flow: row;
    grid-template-areas: "Menu" "Banner" "Form" "Map" "footer"; }
  /*Procutos*/
  .GridProductos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.8fr 0.8fr fit-content fit-content fit-content fit-content fit-content fit-content 0.1fr;
    grid-template-areas: "Menu" "bannerProductos" "textoProductos" "SinGluten1" "Vegano1" "Tradicional1"  "Sin gluten3" "Vegano2"  "Tradicional2" "footer"; }
  /*Servicios*/
  .containerServicio {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.8fr 1fr 1fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "Menu" "Bannerservicios" "Servicio1" "Descripcion1" "Servicio2" "Descripcion2" "footer"; }
  .Servicio1 {
    grid-area: Servicio1;
    margin-left: 05%;
    margin-right: 05%;
    margin-top: 10%;
    margin-bottom: 01%; }
  .Servicio2 {
    grid-area: Servicio2;
    margin-left: 5%;
    margin-right: 05%;
    margin-bottom: 05%;
    margin-top: 03%; }
  .Descripcion1 {
    grid-area: Descripcion1;
    margin-left: 20%;
    margin-right: 15%;
    margin-top: -15%;
    margin-bottom: 04%; }
  .Descripcion2 {
    grid-area: Descripcion2;
    margin-left: 20%;
    margin-right: 15%;
    margin-bottom: 05%;
    margin-top: 03%; } }

@media only screen and (min-width: 501px) and (max-width: 850px) {
  .ContainerIndex {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1.8fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    background-color: #F1F1F1;
    grid-auto-flow: row;
    grid-template-areas: "Menu" "Carousel" "Presentacion" "Descripcion" "Footer"; }
  .Presentacion {
    margin-left: 15%;
    margin-top: -10%; }
  .Descripcion {
    margin-top: 02%;
    margin-right: 05%;
    margin-left: 05%; }
  /*Nosotras*/
  .Texto1 {
    grid-area: Texto1;
    margin-left: 10%;
    margin-top: -43%; }
  .Texto2 {
    grid-area: Texto2;
    margin-left: 11%;
    margin-top: -40%; }
  .Texto3 {
    grid-area: Texto3;
    margin-left: 11%;
    margin-top: -40%; }
  .Texto4 {
    grid-area: Texto4;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: -40%; }
  /*Servicios*/
  .containerServicio {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.8fr 1fr 1fr 0.1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "Menu" "Bannerservicios" "Servicio1" "Descripcion1" "Servicio2" "Descripcion2" "footer"; }
  .Servicio1 {
    grid-area: Servicio1;
    margin-left: 15%;
    margin-right: 05%;
    margin-top: 10%;
    margin-bottom: 01%; }
  .Servicio2 {
    grid-area: Servicio2;
    margin-left: 15%;
    margin-right: 05%;
    margin-bottom: 05%;
    margin-top: 03%; }
  .Descripcion1 {
    grid-area: Descripcion1;
    margin-left: 20%;
    margin-right: 15%;
    margin-top: -10%;
    margin-bottom: 04%; }
  .Descripcion2 {
    grid-area: Descripcion2;
    margin-left: 20%;
    margin-right: 15%;
    margin-bottom: 05%;
    margin-top: 03%; } }
